@font-face {
    font-family: "Allura-Regular";
    src: url("fonts/Allura-Regular.otf");
    font-weight: 500;
}

@font-face {
    font-family: "alpha_echo";
    src: url("fonts/alpha_echo.ttf");
    font-weight: 500;
}

h1 {
    color: red;
    font-family: "Allura-Regular";
}
h2{color: blue;
font-size: 40px;}

p {
    color: brown;
    font-size: 24px;
    font-family: "alpha_echo";
}

img {
    width: 400px;
    height: 260px;
    margin: 20px;
}