@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
    font-family: "Allura-Regular";
    src: url("fonts/Allura-Regular.otf");
    font-weight: 500;
}

@font-face {
    font-family: "alpha_echo";
    src: url("fonts/alpha_echo.ttf");
    font-weight: 500;
}

html {
    text-transform: capitalize;
}

h1 {
    color: coral;
    font-family: 'Lobster', cursive;
    text-align: center;
    line-height: 5;
    font-weight: bold;
}

#bio {color: blue;
font-size: 40px;}

#skills {
    color: darkgreen;
    font-size: 30px;
}

.content {
    color: brown;
    font-size: 24px;
    font-family: "alpha_echo";
    text-align: justify;
    text-transform: uppercase;
}

.abraka {
    color: darkorchid;
    font-size: 32px;
    text-align: justify;
    border: solid 1px blue;
    padding: 10px;

}
.jockey {

    font-weight: bold;
}

.img-div {
background-color: darkturquoise;
}

img {
    width: 47.6%;
    height: 260px;
    margin: 1%;
    box-shadow: 10px 5px 5px black;
}
.kep1 {
    visibility: visible;
    position: relative;
}